# ==========================
# VERSION = (0, 0, 1)   # just add version

# COMMON ===================
pytest
requirements-checker
object-info

# ========================================
# SPECIAL FOR THIS PROJECT ---------------
PyQt5
singleton-meta
pyqt-templates
server-templates
requests

# ========================================
